body {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica, Arial, sans-serif;
  background-color: #f5f0cd;
}

h2 {
  padding: 5px;
  color: #fff;
  background-color: #b3a742;
  background-image: linear-gradient(#9c8f67, #c7be9b);
  border: 1px solid #000;
  border-radius: 15px;
}

figure {
  width: 450px;
  padding: 15px;
  font-family: cursive;
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);
  transform: rotate(0deg);
}

figure:hover {
  transform: rotate(-5deg);
}

#td-nutrientes {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #000;
}

#td-nutrientes th {
  background-color: #F8EA6B;
}

#td-nutrientes tr:nth-child(even) {
  background-color: #F8EAB3;
}

#td-nutrientes tr:nth-child(odd) {
  background-color: #fff;
}

nav ul li {
  display: inline;
  margin-right: 50px;
}

#topo {
  text-align: center;
}
