<html>
  <body>
    <form action="/produtos" method="post">
      <div>
        <label for="titulo">Titulo</label>
        <input id="titulo" name="titulo" type="text" placeholder="coloque o titulo">
      </div>

      <div>
        <label for="preco">Preço</label>
        <input id="preco" name="preco" type="text" placeholder="150.00">
      </div>

      <div>
        <label for="descricao">Descrição</label>
        <textarea id="descricao" name="descricao" cols="20" rows="10" placeholder="fale sobre o livro"></textarea>
      </div>

      <input type="submit" value="gravar">
    </form>
  </body>
</html>
