<html>
  <body>
    <table border="1">
      <tr>
        <td>id</id>
        <td>titulo</id>
        <td>descricao</id>
        <td>preco</id>
      </tr>
      <% for(var i = 0; i < lista.length; i++) { %>
        <tr>
          <td><%= lista[i].id %></td>
          <td><%= lista[i].titulo %></td>
          <td><%= lista[i].descricao %></td>
          <td><%= lista[i].preco %></td>
        </tr>
      <% } %>
    </table>
  </body>
</html>
