body {
  font-family: "Droid Sans", sans-serif;
  background: #f9e933;
}

header,
main,
footer {
  min-width: 855px;
}

header {
  padding: 1em 0;
  background: white;
}

footer {
  padding: 1em 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Ubuntu", sans-serif;
}

a {
  color: red;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.left {
  float: left;
  width: 570px;
}

.right {
  float: right;
  width: 285px;
}

main {
  padding: 1em 0 3em;
  background: white;
}

.container {
  max-width: 855px;
  margin-right: auto;
  margin-left: auto;
}

.container:after {
  display: table;
  content: "";
  clear: both;
}
