.header {
  height: 40px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #0082c7;
}

.header-title {
  display: inline;
  color: #b3daee;
  vertical-align: middle;
}

.header-menu {
  float: right;
}

.header-button {
  display: inline-block;
  height: 22px;
  padding: 8px;
  font-size: 16px;
  color: #fff;
  background-color: #006195;
  box-sizing: content-box;
}

.header-button:first-child {
  margin-right: 15px;
}
