body {
  font-family: "Crimson Text", "Times New Roman", serif;
  line-height: 1.5;
  background-color: #f2fffc;
}

main {
  float: left;
  width: 85%;
}

main a {
  color: 851944;
}

h1,
h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
}

h2 {
  font-size: 30px;
  clear: both;
}

.container {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 80px;
}

.titulo-principal {
  margin: 0;
  padding: 25px;
  color: #fff;
  text-align: center;
  background-color: #851944;
  border-bottom: 10px solid #000;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

blockquote,
aside,
footer {
  padding: 20px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

footer {
  clear: both;
}

.rodape-pagina {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.minha-foto {
  position: absolute;
  top: 0;
  right: 0;
  float: right;
  border-bottom: 10px solid #000;
  border-left: 10px solid #000;
  box-sizing: border-box;
}

.navegacao {
  position: relative;
  top: 310px;
  float: right;
  clear: right;
  width: 15%;
  color: #f2fffc;
  text-align: center;
  background-color: #3c1d3d;
  border-bottom: 10px solid #000;
  border-left: 10px solid #000;
  box-sizing: border-box;
}

.navegacao h1 {
  margin-bottom: 25px;
  font-size: 30px;
}

.navegacao a {
  font-family: "Open Sans Condensed", sans-serif;
  color: inherit;
  text-transform: lowercase;
}

.icones-redes-sociais li {
  display: inline-block;
}

.icones-redes-sociais a {
  display: inline-block;
  width: 40px;
  height: 40px;
  text-indent: -9999px;
}

.github {
  background-image: url(../img/github.png);
}

.twitter {
  background-image: url(../img/twitter.png);
}

.linkedin {
  background-image: url(../img/linkedin.png);
}

.rodape-pagina {
  color: #f2fffc;
  background-color: #000;
}
