body {
  font-family: "Crimson Text", "Times New Roman", serif;
  line-height: 1.5;
  background-color: #f2fffc;
}

main a {
  color: 851944;
}

h1,
h2 {
  font-family: "Open Sans Condensed", "Arial", sans-serif;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 30px;
}

.container {
  width: 720px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.titulo-principal {
  margin: 0;
  padding: 25px;
  color: #fff;
  text-align: center;
  background-color: #851944;
  border-bottom: 10px solid #000;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
}

blockquote,
aside,
footer {
  padding: 20px;
}

.citacao {
  width: 250px;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
  margin-left: 40px;
  background-color: #d9e5e3;
  border: 10px solid #c2ccca;
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

article {
  margin-bottom: 20px;
  padding-bottom: 30px;
  border-bottom: 1px solid #ccc;
}

.navegacao {
  color: #f2fffc;
  text-align: center;
  background-color: #3c1d3d;
}

.navegacao h1 {
  margin-bottom: 25px;
  font-size: 30px;
}

.navegacao a {
  font-family: "Open Sans Condensed", sans-serif;
  color: inherit;
}

.icones-redes-sociais li {
  display: inline-block;
}

.rodape-pagina {
  color: #f2fffc;
  background-color: #000;
}

.leia-mais {
  display: block;
  margin: 16px;
  padding: 8px;
  font-size: 24px;
  text-align: center;
  background-color: #E6E7E8;
}
