<div class="container">
  <div class="well">
    <h1>Ocorrências de zumbis</h1>
  </div>
  <table class="table" ng-if="ocorrencias.length > 0">
    <thead>
      <th>CEP</th>
      <th>Bairro</th>
      <th>Número</th>
    </thead>
    <tbody>
      <tr ng-repeat="ocorrencia in ocorrencias">
        <td>{{ ocorrencia.cep }}</td>
        <td>{{ ocorrencia.bairro }}</td>
        <td>{{ ocorrencia.numero }}</td>
      </tr>
    </tbody>
  </table>
  <form name="formZumbi">
    <div class="form-group">
      <label>CEP</label>
      <input class="form-control" type="text" ng-model="ocorrencia.cep" ng-pattern="/^[0-9]{5}-[0-9]{3}$/" ng-blur>
    </div>
    <div class="form-group">
      <label>Bairro</label>
      <input class="form-control" type="text" ng-model="ocorrencia.bairro" ng-minlength="4" ng-blur>
    </div>
    <div class="form-group">
      <label>Número de ocorrências</label>
      <input class="form-control" type="text" ng-model="ocorrencia.numero" required ng-blur>
    </div>
    <ng-zumbi-submit submit="adiciona(ocorrencia)"></ng-zumbi-submit>
  </form>
</div>
